
.herhack {
  padding : auto;
  text-overflow: clip;
  transform:skewX(-25deg);
  width: 795px;
  height: 170px;
  background: rgba(0,194,162,1);
  align-items:center;
  position:absolute;
  left:25%;
  top:36%;
  }
#name{
  font-weight: "ExtraBold Italic";
  font-size: 130px;
  width: 655px;
  opacity: 1;
  font-family: Muli;
  color: rgba(255,255,255,1);
  letter-spacing: 0px;
  padding : 23% 9% 13% 9%;

}

